name: Show scraper result changes

on: 
  - pull_request

jobs:
  build:
    runs-on: ubuntu-latest
    name: Show changes in scraper results
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Install uv
        uses: astral-sh/setup-uv@v7
      - name: Setup python
        uses: actions/setup-python@v6
        with:
          python-version-file: ".python-version"
      - run: uv sync --locked --all-extras
      - run: uv run ./test_changes.sh
